body {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: 'Roboto', sans-serif; /* Use a sans-serif font */
    font-weight: 200; /* Adjust the weight value as needed */
}

h1 {
    color: #ab84ff; /* Vibrant color for headings */
    font-family: 'Roboto', sans-serif; /* Use a sans-serif font */
    font-weight: 400; /* Adjust the weight value as needed */
}

.title {
    font-weight: 300; /* Adjust the weight value as needed */
}


textarea {
    background-color: #444; /* Dark background color for input */
    color: #fff; /* Light text color for input */
    border: 1px solid #00bfff; /* Vibrant border color */
}

button {
    background-color: #00bfff; /* Vibrant button color */
    color: #fff; /* Light text color for buttons */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
}

button:hover {
    background-color: #0080ff; /* Darker shade of button color on hover */
}

.translation-section {
    display: flex; /* Use flexbox for layout */
}


