<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Translation App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">      </head>    
<body class="dark-theme">

    <header>
        <h1 class="logo">Translation App</h1>
    </header>

    <main>
        <section class="translation-section">
            <form id="translation-form">
                <label for="input-text">Enter text to translate:</label><br>
                <textarea id="input-text" name="input-text" rows="4" cols="50"></textarea><br>
                <button type="submit" class="cta-button">Translate</button>
            </form>
            <div id="translated-text" class="translated-text"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Translation App. All rights reserved.</p>
    </footer>

    <script src="../static/script.js"></script>

</body>
</html>
